@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
	float: right;
	width: 30%;
	margin-top: 3em;
}

footer {
	clear: both;

}

header {
	margin-top: cm;
}

img {
	max-width: 58%;
}

main {
	float: left;
	width: 50%;
	margin-top: 3em;
}

nav {
float: left;
width: 12%;
margin-top: 3em;
}

#copyright {
	font-size: 80%;
}

#main-container {

}